<a href="https://colab.research.google.com/github/ohayouitslia/Data-Sains/blob/main/Week%206_Python_Fundamental_to_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Fungsi print

In [1]:
print("Hello World")

Hello World

fungsi print untuk menampilkan kata atau kalimat

# 2. Variable
variable adalah huruf/kata yang dipakai untuk menyimpan suatu nilai (karakter/continu)

In [2]:
usia = 21
nama = "Liu"

print ("Nama saya Liu, usia saya 21 tahun")

Nama saya Liu, usia saya 21 tahun

# 3. List dan Set
tempat untuk mengumpulkan beberapa nilai

In [ ]:
list_usia = [29,30,27,25]
list_usia

[29, 30, 27, 25]

In [ ]:
set_usia = (29,30,27,25)
set_usia

(29, 30, 27, 25)

## 3.1. Append
method untuk menambahkan item ke dalam list

In [4]:
list_usia.append(50)
list_usia

NameError: name 'list_usia' is not defined

## 3.2. Slicing

In [ ]:
list_usia[2]

27

# 4. Looping/Iterasi

In [ ]:
list_number = [i for i in range(5)]
list_number

[0, 1, 2, 3, 4]

In [ ]:
# semua item di list/set akan diproses
for item in list_number:
    print(item)

0
1
2
3
4

In [ ]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

# 5. Dictionary

In [ ]:
# key : value
contoh_dict = {"kakek":"orangtua laki-laki dari ayah",
               "nenek" : "orangtua perempuan dari ibu"}

In [ ]:
contoh_dict["kakek"]

'orangtua laki-laki dari ayah'

# 6. Conditional

In [ ]:
# klasifikasi nilai
# nilai>=81 : "A"
# 76<=nilai<81 : "AB"
# nilai <76 : 'C'
nilai = 80

if nilai>=81:
   print('A')
elif nilai>=76 and nilai<81:
    print('AB')
else :
    print('C')

AB

elif itu else if

# 7. Fungsi
membuat suatu formula/rumus yang dapat dipakai berulang-ulang

In [ ]:
def luaspp(p,l):
    L= p*l
    return L

def itu definisi

In [ ]:
luaspp(4,5)

20

In [ ]:
luaspp(10,2.4)

24.0

Buat kode untuk mencari luas lingkaran
$L=\frac{22}{7} \times r^2$

In [18]:
def luas_circle(r):
    luas_circle = 22/7 * r**2
    return luas_circle

r = 7
luas_circle = luas_circle(r)
print (f"luas_circle dengan jari-jari {r} adalah {luas_circle}")

luas_circle dengan jari-jari 7 adalah 154.0

In [ ]:
: